<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="car-header">
            <h1>SmartHome</h1>
        </div>
        <div class="card-body">
            <p>ISW2 - Proyecto</p>
            <p><a href="/signIn">Comenzar!!!</a></p>
        </div>
    </div>
</div>
